<!-- index.html -->
<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Recipe Management System</title>
</head>
<body>

    <div>
        <h1>Welcome to Recipe Management System</h1>
        <p>Manage and store your favorite recipes</p>
       
        <div class="buttons">
            <a href="{{ url_for('search_page') }} " ><button data-label="Register" class="bt">Search Recipe</button></a>
        <a href="{{ url_for('add_recipe') }}"><button data-label="Register" class="bt">Add Recipe</button></a>
        </div>
        
    </div>
</body>
</html>
